main {
    h2 {
        font-size: 2.5rem;
        text-align: center;
        margin: 2rem 0;
        font-weight: bold;
        color: #195abd;

        a {
            padding: 0;
            text-decoration-thickness: 3px;

            &:visited {
                color: #195abd;
            }

            &:hover {
                color: #2B82CF;
            }

            &:active {
                color: #3293e9;
            }
        }
    }

    aside {
        font-size: .75rem;
        margin: 0 0 1rem 2rem;

        span {
            font-weight: bold;
            color: red;
            display: block;
            margin-bottom: 1rem;
        }

        a {
            &:visited, & {
                color: black;
            }

            &:hover {
                color: grey;
            }

            &:active {
                color: lightgrey;
            }
        }
    }

    #poster {
        position: relative;
        overflow: hidden;
        margin: 2rem 4rem;
        border-radius: 2rem;

        > div {
            width: 20rem;
            margin: 5rem 0 0 3rem;
            background-color: white;
            border-radius: .5rem;
            padding: .6rem .6rem .5rem;
            box-shadow: 2px 2px 50px 0 black;
            display: none;

            &#background {
                background-image: url("https://source.unsplash.com/pfR18JNEMv8/1920x1080");
                background-size: cover;
                background-repeat: no-repeat;
                background-position: top;
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                z-index: -1;
                padding: 0;
                margin: 0;
                border-radius: 0;
                display: block;
            }

            &:nth-child(2) {
                transform: rotate(-25deg);
            }

            &:nth-child(3) {
                margin: -5rem 0 0 60%;
                transform: rotate(5deg);
            }

            &:nth-child(4) {
                margin: -5rem 0 0 4.5rem;
                transform: rotate(-5deg);
                width: 25rem;
            }

            &:nth-child(5) {
                transform: rotate(20deg);
                margin: 0 0 5rem 55%;
            }

            a {
                text-decoration: none;

                &, &:visited {
                    color: #195abd;
                }

                &:hover {
                    color: darkgrey;
                }

                &:active {
                    color: lightgrey;
                }
            }

            &.text {
                font-size: 1rem;
                line-height: 1.2rem;

                h3 {
                    font-size: 2rem;
                    padding-bottom: .5rem;
                    margin-bottom: .5rem;
                    border-bottom: 1px solid black;
                    line-height: 2rem;
                }

                p {
                    margin-bottom: 1rem;

                    &:first-letter {
                        font-size: 1.3em;
                    }
                }

                ul li {
                    list-style-type: square;
                    margin-left: 1rem;
                }
            }

            &.image {
                img[alt="block diagram Microsoft To Do CLI"] {
                    width: 100%;
                }

                &#used-technologies {
                    div {
                        margin-top: 1rem;
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                        grid-template-rows: repeat(2, 1fr);
                        align-items: center;
                        justify-items: center;
                        row-gap: 1rem;

                        img {
                            max-height: 50px;
                            max-width: 75px;
                        }
                    }
                }
            }
        }
    }
}


@media only screen and (max-width: 1700px) {
    div#poster {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        border-radius: .5rem;
    }
}

@media only screen and (max-width: 1050px) {
    div#poster > div {
        &:nth-child(3) {
            position: relative;
            top: 0;
            left: 0;
            margin-left: 50%;
            z-index: 100;
        }

        &:nth-child(4) {
            margin-left: 3rem;
        }

        &:nth-child(5) {
            margin-left: 50%;
        }
    }
}
